---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: 'dasmig/.*\.hpp'
ExtraArgs: ['-std=c++23']
FormatStyle: file
